<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"    content="width=device-width, initial-scale=1.0">
        <meta name="description" content="vOne - Free Business HTML5 Responsive Website">
        <meta name="author" content="webThemez.com">
        <title>augludarzs.lv - Svaigu augļu piegāde uz birojiem Rīgā</title>
        <link rel="favicon" href="assets/images/favicon.png">
        <link rel="stylesheet" media="screen" href="assets/css/open_sans.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
            <!-- Custom styles for our template -->
        <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
        <link rel="stylesheet" type="text/css" href="assets/css/da-slider.css" />
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/jquery-ui.css">
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
            <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
        <script src="assets/js/modernizr-latest.js"></script>
            <!--<script src="assets/js/jquery.min.js"></script>-->

        <script src="assets/js/headroom.min.js"></script>
        <script src="assets/js/jQuery.headroom.min.js"></script>
        <script src="assets/js/jquery-1.10.2.js"></script>
        <script src="assets/js/jquery-ui.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.cslider.js"></script>
        <script src="assets/js/custom.js"></script>
        <script src="assets/js/combobox.js"></script>
    </head>
    <body>
            <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top headroom" >
            <div class="container">
                <div class="navbar-header">
                        <!-- Button for smallest screens -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="vOne HTML5 template"></a> </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="#order">Pasūtīt</a></li>
                        <li><a href="#about">Par mums</a></li>
                        <li class="dropdown active" id="language">
                            <a href="#" id="lang-chooser" class="dropdown-toggle" data-toggle="dropdown">@Messages("current_lang")<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/changeLanguage?lang=lv">LV</a></li>
                                <li><a href="/changeLanguage?lang=ru">RU</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

                    <!--/.nav-collapse -->
            </div>
        </div>
            <!-- /.navbar -->

            <!-- Header -->
        <header id="head">
            <div class="container">
                <div class="banner-content">
                    <div id="da-slider" class="da-slider">
                        <div class="da-slide">
                            <h2>Augļu piegāde</h2>
                            <p>Mēs piegādājam augļus uz Rīgas birojiem.</p>
                            <div class="da-img"></div>
                        </div>
                        <div class="da-slide">
                            <h2>Bezmaksas izmēģināšana</h2>
                            <p>Pasūtiet pirmo augļu grozu bezmaksas.</p>
                            <div class="da-img"></div>
                        </div>
                        <div class="da-slide">
                            <h2>Kvalitāte</h2>
                            <p>Visi augļi tiek rūpīgi atlasīti.</p>
                            <div class="da-img"></div>
                        </div>
                        <nav class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span> </nav>
                    </div>
                </div>
            </div>
        </header>
            <!-- /Header -->

            <!-- Intro -->
        <section class="herotxt">
                <!--<div class="container text-center sectionBox">
      <h2 >Welcome!</h2>
      <p class="text-muted"> Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies<br/>
        Sed elit imperdiet congue. Integer ultricies sed ligula eget tempus. </p>
    </div>-->
            <div class="container sectionBox">
                <div class="row">
                    <div class="col-md-9">
                        <div id="discount">@Messages("discount")</div>
                        <p>Saņemiet bezmaksas izmēģinājuma grozu! Atstājiet mums savu telefona numuru vai e-pastu un mēs piegādāsim jums izmēģinājuma augļu grozu bezmaksas.</p>
                    </div>
                    <div class="col-md-3 btn-download">
                        <form action="/submitTrial" method="post" id="trialForm">
                            <input class="form-control" type="text" name="phoneOrEmail" placeholder="Telefona numurs vai e-pasts" onkeydown="if (e.keyCode == 13) {$('#trialForm').submit();}" />
                            <a href="#button1" id="button-1" onclick="$('#trialForm').submit();" class="btn-u btn-u-lg"><i class="fa fa-gift"></i> Sūtīt pieprasījumu</a>
                            <input type="submit" style="display: none" />
                        </form>
                    </div>
                </div>
            </div>
        </section>
            <!-- /Intro-->

            <!-- Highlights - jumbotron -->
        <div class="jumbotron sectionBox">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 highlight">
                        <div class="h-caption">
                            <h4><i class="fa fa-dropbox circle" style=" font-size: 30px; margin-top: 3%;"></i>10 darbiniekiem</h4>
                        </div>
                        <div class="h-body">
                            <p>10 āboli, 15 banāni, 5 mandarīni, 5 bumbieri, 10 sezonas augļi.</p>
                            <span style="font-size: 34px; display:table;">
                        25 EUR
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 highlight">
                        <div class="h-caption">
                            <h4><i class="fa fa-dropbox circle"></i>20 darbiniekiem</h4>
                        </div>
                        <div class="h-body">
                            <p>20 āboli, 30 banāni, 10 mandarīni, 10 bumbieri, 20 sezonas augļi.</p>
                            <span style="font-size: 34px; display:table;">
                        50 EUR
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 highlight">
                        <div class="h-caption">
                            <h4><i class="fa fa-dropbox circle" style="font-size: 60px; margin-top: -2%;"></i>30 darbiniekiem</h4>
                        </div>
                        <div class="h-body">
                            <p>30 āboli, 45 banāni, 15 mandarīni, 15 bumbieri, 30 sezonas augļi.</p>
                            <span style="font-size: 34px; display:table;">
                        75 EUR
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 highlight">
                        <div class="h-caption">
                            <h4><i class="fa fa-pie-chart circle" style="margin-top: 1%;"></i>Jūsu birojam</h4>
                        </div>
                        <div class="h-body">
                            <p>Jūs varat patstāvīgi ievadīt vēlamo augļu daudzumu.</p>
                        </div>
                    </div>
                </div>
                    <!-- /row  -->

            </div>
        </div>
            <!-- container -->
        <section class="sectionBox" style="height: 42em;" id="order">
            <div style="text-align: center"><h1 style="margin-top: 10px; margin-bottom: 30px;">Nosūtīt pieprasījumu</h1></div>
            <div id="form-container">
                <div id="green-form-container" style="background-color: #64c307; padding: 5%; border-radius: 10px">
                    <div id="worker-amount">Norādiet darbinieku skaitu</div>
                    <div id="slider"></div>
                    <div id="ruler-container">
                        <ul class="ruler" data-items="10"></ul>
                    </div>
                    <form action="/makeRequest" method="post" id="new_order">
                        <table align="center" style="width: 100%;" cellpadding="10">
                            <tr>
                                <td align="center">
                                    <input type="number" min="0" max="50" class="form-control fruits" name="green_apples" id="green_apples" value="5" />
                                    Zaļie āboli
                                </td>
                                <td align="center">
                                    <input type="number" min="0" max="150" class="form-control fruits" name="bananas" id="bananas" value="15" />
                                    Banāni
                                </td>
                                <td align="center">
                                    <input type="number" min="0" max="50" class="form-control fruits" name="red_apples" id="red_apples" value="5" />
                                    Sarkanie āboli
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <input type="number" min="0" max="50" class="form-control fruits" name="pears" id="pears" value="5" />
                                    Bumbieri
                                </td>
                                <td align="center">
                                    <input type="number" min="0" max="50" class="form-control fruits" name="mandarines" id="mandarines" value="5" />
                                    Mandarīni
                                </td>
                                <td align="center">
                                    <input type="number" min="0" max="50" class="form-control fruits" name="season_fruits" id="season_fruits" value="5" />
                                    Sezonas augļi
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="2">
                                    <input type="text" class="form-control" name="phoneOrEmail" id="phoneOrEmail" placeholder="Telefona numurs vai e-pasts" style="width: 85%;" onkeydown="if (e.keyCode == 13) {$('#new_order').submit();}" />
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="2"><input type="submit" value="Pasūtīt" class="form-control fruits" style="width: 15em; height: 3em; background-color: rgb(230, 230, 230);" /></td>
                                <td align="center"><div id="price"><span style="font-size: 14px; margin-top: 9px; float: left; margin-left: 5px;">Cena:</span>25€</div></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </section>
        <section class="sectionBox">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading">
                            <h2 id="about">Par mums</h2>
                            <br/>
                        </div>
                        <p><b>augļudārzs.lv</b> - svaigo augļu piegāde uz Rīgas birojiem.</p>
                        <p>Vai jūs gribat, lai jūsu darbinieki mazāk slimotu, paliktu aktīvi un labā garastāvoklī? Abonējiet regulāru augļu piegādi uz jūsu biroju, jo katram ir zināms, ka augļi ir ne tikai garšīgi, bet arī veselīgi.</p>
                        <p>Lai jums būtu vieglāk rūpēties par saviem darbiniekiem, mēs piedāvājam regulāro augļu piegādi. Jūs parakstat līgumu un mēs piegādājam svaigos augļus uz jūsu biroju divreiz nedeļā. Jums nebūs jārūpējas par papildus pasūtījumiem, mūsu kurjers piegādās augļus nepieciešamajā laikā. Ilgtermiņa līguma detaļas var apspriest piezvanot mums <b>+371 20000000</b>.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="blockquote-box blockquote-info clearfix">
                            <div class="heading">
                                <h2>Serviss</h2>
                                <br/>
                            </div>
                            <div class="square pull-left">
                                <i class="fa fa-car fa-3x circle"></i>
                            </div>
                            <h4>
                        Bezmaksas piegāde</h4>
                            <p>
                        Mēs piegādājam augļus bezmaksas uz mājām un birojiem visā Rīgas teritorijā.
                            </p>
                        </div>
                        <div class="blockquote-box blockquote-success clearfix">
                            <div class="square pull-left">
                                <i class="fa fa-thumbs-up fa-3x circle"></i>
                            </div>
                            <h4>
                        100% kvalitāte</h4>
                            <p>
                        Tikai svaigie un rūpīgi atlasītie augļi
                            </p>
                        </div>
                        <div class="blockquote-box blockquote-primary clearfix">
                            <div class="square pull-left">
                                <i class="fa fa-cutlery fa-3x circle"></i>
                            </div>
                            <h4>
                        Augļu grozi izmēģināšanai</h4>
                            <p>
                        Izmēģiniet un novērtējiet pirmo augļu grozu pilnīgi bezmaksas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer" class="top-space">
            <div class="footer1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 panel contact">
                            <h3 class="panel-title">Kontaktinformācija</h3>
                            <div class="panel-body">
                                <p>SIA Abc, Reģ. nr. 20000100000</p>
                                <ul>
                                    <li>
                                        <table class="phone">
                                            <tr>
                                                <td><i class="fa fa-phone"></i></td>
                                                <td><b>  +371 20000000</b></td><!-- new commit-->
                                            </tr>
                                        </table>
                                    </li>
                                    <li><i class="fa fa-envelope-o"></i> info@@augludarzs.lv</li>
                                    <li><i class="fa fa-flag"></i>  Brīvības iela 100500, Rīga, LV-1020</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 panel">
                            <h3 class="panel-title">Sekojiet mums</h3>
                            <div class="panel-body">
                                <p class="follow-me-icons"> <a href=""><i class="fa fa-twitter fa-2"></i></a> <a href=""><i class="fa fa-dribbble fa-2"></i></a> <a href=""><i class="fa fa-github fa-2"></i></a> <a href=""><i class="fa fa-facebook fa-2"></i></a> <a href=""><i class="fa fa-youtube fa-2"></i></a> <a href=""><i class="fa fa-pinterest fa-2"></i></a> </p>
                            </div>
                        </div>
                    </div>
                        <!-- /row of panels -->
                </div>
            </div>
            <div class="footer2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 panel">
                            <div class="panel-body">
                                <p class="text-right"> SIA Abc &copy; 2014</p>
                            </div>
                        </div>
                    </div>
                        <!-- /row of panels -->
                </div>
            </div>
        </footer>
        <script>
        $(document).ready(function(){

        $( "#slider" ).slider({
        step: 10,
        min: 0,
        max: 100,
        value: 10,
        slide: function( event, ui ) {
        $("#green_apples").val(ui.value/2);
        $("#bananas").val(ui.value*1.5);
        $("#red_apples").val(ui.value/2);
        $("#pears").val(ui.value/2);
        $("#mandarines").val(ui.value/2);
        $("#season_fruits").val(ui.value/2);
        $("#price").html('<span style="font-size: 14px; margin-top: 9px; float: left; margin-left: 5px;">Cena:</span>' + ui.value*2.5 + "€");
        }
        });

        // Build "dynamic" rulers by adding items
        $(".ruler[data-items]").each(function() {
        var ruler = $(this).empty(),
        len = Number(ruler.attr("data-items")) || 0,
        item = $(document.createElement("li")),
        i;
        for (i = 0; i < len; i++) {
        ruler.append(item.clone().text(10*(i + 1)));
        }
        });
        // Change the spacing programatically
        function changeRulerSpacing(spacing) {
        $(".ruler").
        css("padding-right", spacing).
        find("li").
        css("padding-left", spacing);
        }
        $("#spacing").change(function() {
        changeRulerSpacing($(this).val());
        });

        $('#ss').slider({
        mode: 'v',
        tipFormatter: function(value){
        return value + '%';
        }
        });

        $('a[href="#about"], a[href="#order"]').on('click',function (e) {
        e.preventDefault();

        var target = this.hash;
        var $target = $(target);

        $('html, body').stop().animate({
        'scrollTop': $target.offset().top
        }, 900, 'swing', function () {
        window.location.hash = target;
        });
        });
        });
        </script>
    </body>
</html>